<app-api-form-a [source]="row" [test]="'This is a test property!'">
    <div class="d-flex flex-column">
        <div class="d-flex" style="background: yellow;justify-content:space-evenly;">
            <app-api-input-a [label]="'Input 0'" style="flex:1 1;display: flex;flex-direction: column;">
            </app-api-input-a><br />
            <app-api-input-a [label]="'Input 1'" [fieldName]="'field1'"></app-api-input-a><br />
            <app-api-input-a [label]="'Input 2'" [fieldName]="'field2'"></app-api-input-a>
        </div>
        <div class="">
            <span>{{row.field1}}</span><br/>
            <span>{{row.field2}}</span>
        </div>
    </div>
</app-api-form-a>