.ctrl_select{
    padding-top:0px;
    padding-bottom:0px;
    padding-left:1px;
    padding-right:0px;
}
.ctrl_input{
    padding-top:0px;
    padding-bottom:0px;
    padding-left:4px;
    padding-right:4px;

}

.ctrl_help{
    overflow: hidden;
}