<app-api-form-a [formObject]="frmObj" [source]="row" smallControls="true" labelFontSize="0.9" labelWidth="150"
    helpWidth="250" elementPosition="CL" controlHeight="27" readOnly="false">
    <div class="p-2">
        <div class="d-flex" style="flex-wrap: wrap;">
            <app-api-input-a label="Name" fieldName="plnt_name" placeHolder="Enter Plant Name"></app-api-input-a>
            <app-api-input-a label="Description" fieldName="plnt_desc" placeHolder="Enter Plant Description"
                prepend="Plant Description" readOnly="true" rows="3">
            </app-api-input-a>
            <app-api-input-a [lookupSource]="lkpCountries" label="Country" fieldName="plnt_ctry_id"
                placeHolder="Select Country"></app-api-input-a>

            <app-api-input-a label="Area" fieldName="plnt_area" placeHolder="Enter Plant Area"
                append="m²"></app-api-input-a>

            <app-api-input-a [radioSource]="lkpLocalPopulationDensity" label="Population Density" fieldName="plnt_pop_dens_lpd_id"
            placeHolder="Select Population Density"></app-api-input-a>

        </div>
    </div>
    <p>Field1: {{frmObj.value.plnt_name}}</p>
    <p>Field2: {{frmObj.value.plnt_desc}}</p>
    <p>Field3: {{frmObj.value.plnt_area}}</p>
    <p>Density: {{frmObj.value.plnt_pop_dens_lpd_id}}</p>
    <table class="table table-sm mx-2 table-striped table-bordered table-hover" style="width: 800px;">
        <thead  class="thead-dark">
            <tr style="display: flex;">
                <th style="display:block;width:200px;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">Plant</th>
                <th style="display:block;width:600px;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of ds.tblPlants.rows" style="display: flex;" (click)="r.SetAsCurrent()">
                <td style="display:block;width:200px;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{r.plnt_name}}</td>
                <td style="display:block;width:600px;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{r.plnt_desc}}</td></tr>
        </tbody>
    </table>
</app-api-form-a>
<button class="btn btn-primary" (click)="TestFunction()">Test Function</button>