<!--app-test-sandbox-a></app-test-sandbox-a-->
<div class="container-fluid m-0 p-0" *ngIf="true">
    <app-nav-bar *ngIf="true" [title]="ds.APP_TITLE" [icon]="ds.APP_ICON" [backColor]="ds.NAV_BACK"></app-nav-bar>
    <app-test-form-a></app-test-form-a>
    <!--div *ngIf="false">
        <form>
            <div class="form-group m-2">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" ngbDatepicker #d="ngbDatepicker" />
                    <div class="input-group-append">
                        <button (click)="d.toggle()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

        </form>
        <form>
            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Small</span>
                </div>
                <input type="text" class="form-control">
            </div>
        </form>
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Default</span>
                </div>
                <input type="text" class="form-control">
            </div>
        </form>
        <form>
            <div class="input-group mb-3 input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">Large</span>
                </div>
                <input type="text" class="form-control">
            </div>
        </form>
    </div-->
</div>

<app-det-plant *ngIf="false"></app-det-plant>