//$border-color: #0099cc;
$border-color: teal;
.api-table{

    padding:0px 0px;
    margin-bottom:10px;
    ul.h {
        li{
            border-top:1px solid $border-color;
            background: #2b579a;
            color:white;
            padding:4px 10px;
            font-weight: bold;
        }
    }
    ul, div ul{
        list-style-type: none; 
        display: flex;
        margin:0px 0px;
        padding:0px 0px;
        li{
            border-right:1px solid $border-color;
            border-bottom:1px solid $border-color;
            padding:3px 5px;
            font-size:.8rem;
        }
        li:nth-child(1){
            border-left:1px solid $border-color;
        }
    }



}